﻿<div id="map"><span>&nbsp;</span></div>
<button id="addNoteModelBtn" class="hidden" data-toggle="modal" data-target="#addNoteModel"></button>
@section Scripts {
    <script type="text/javascript">
        var addNoteUrl = "@Url.Action("AddRemark")";
        var getRemarksUrl = "@Url.Action("GetRemarks")";
        var searchRemarksUrl = "@Url.Action("SearchRemarks")";
        var currentUserName = "@ViewBag.UserName";
    </script>
    @Scripts.Render("~/bundles/site")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApDSeUIlubg79H8xmfP4KGD3_ywcok138&callback=initMap" async defer></script>
}