﻿/* Set padding to keep content from hitting the edges */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*For Sign In Page*/
body.login{
    background-image: url(../assets/images/land.jpg);
    background-size: cover;
    background-position: top center;
}
.header-filter:after {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
}
.form-signin {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align:center;
    text-align: -webkit-center;
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    color:white;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  text-align:center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/**
 * Profile image component
 */
.profile-header-img > img.img-circle {
    margin:5px;
    width: 45px;
    height: 45px;
    border: 1px solid grey;
}
#map {
    height:100%;
    width: 100%;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container{
    max-width:100%;
}
.body-content{
    margin:0;
    padding:0;
}
.modal-footer{
    margin-top:0px;
}
form.bootbox-form textarea,form.bootbox-form input{
    max-width:100%;
}
.remark-user{
    font-weight:bold;
}
div.controlDiv{
    margin-top:7px;
}
div.controlUI{
    background-color:#fff;
    border-radius:3px;
    margin:3px;
    margin-left:5px;
    margin-right:5px;
    box-shadow:0 2px 6px rgba(0,0,0,.3);
    cursor:pointer;
    text-align:center;
}
.control{
    color:rgb(25,25,25);
    font-family:Roboto,Arial,sans-serif;
    font-size:11px;
    padding:8px;
}
.controlTb{
    min-width:300px;
}
@media (max-width: 400px) {
    .controlTb{
        min-width:150px;
    }
}
body, html {
  height: 100%;
  width: 100%;
}

div.fill {
  width: 100%; height: 100%;
  padding-top:55px;
}
.add-note{
    text-align:center;
    margin-top:5px;
}