﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head style="height:100%">
    @*<meta name="google-signin-client_id" content="631054687439-6kkfkbvv9i229aln9skam81idie6tlia.apps.googleusercontent.com">*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign in to Landmarker</title>
    @Styles.Render("~/Content/css")
</head>

<body class="login header-filter">
    <div class="container">
        @using (Html.BeginForm("ExternalLogin", "Account",FormMethod.Post,new {@class= "form-signin" }))
        {
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">Landmarker</h2>
            @*<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>*@
            <button type="submit" class="btn btn-default">Google Login</button>
            <h6>Sign in google account to use landmarker</h6>
        }
    </div> <!-- /container -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @Scripts.Render("~/bundles/site")
</body>
</html>
