﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    var profilePicture = Session[MyClaimTypes.ProfilePicture].ToString();
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="@profilePicture" />
                    </div>
                </div>
            </li>
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Landmark")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
