﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="panel">
    <div class="panel-heading text-danger"><header>Error</header>
    </div>
    <div class="panel-body text-danger">
        An error occurred while processing your request.
    </div>
    <ul class="list-group">
        @foreach (var error in ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).SelectMany(n => n.Value.Errors))
        {
            <li class="list-group-item text-danger">@error.ErrorMessage</li>
        }
    </ul>
</div>

